<a href="https://colab.research.google.com/github/jungmin0710/K-digital-PythonDataAnalytics/blob/main/6_Control_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Statement : 조건문, 반복문, 예외처리
* if ~ else, for ~ in, while, try ~ except

In [1]:
import warnings
warnings.filterwarnings('ignore')

## 1. if else

In [2]:
n = 3

> 1) if

In [3]:
if n==3:
  print('n은 3')

n은 3

> 2) if else

In [4]:
if n != 3:
  print('Bye')
else:
  print('n은 3')

n은 3

> 3) if elif else

In [5]:
if n < 2:
  print('A')
elif n < 5:
  print('B')
else:
  print('C')

B

## 2. for in
> 1) for in with range()

In [6]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

> 2) for in with List_1

In [7]:
L1 = ['A','B','C','D','E']

for i in L1:
  print(i)

A
B
C
D
E

> for in with List_2

In [8]:
L2 = [['A',11],['B',22],['C',33]]

for i, j in L2:
  print(i)
  print(j)

A
11
B
22
C
33

> 4)for in with break

In [9]:
for i in range(1,10):
  if i > 5: break
  print(i)

1
2
3
4
5

## 3.while

In [10]:
i = 1

> 1) while else

In [11]:
while i < 10:
  print(i)
  i += 1
else:
  print('Fin')

1
2
3
4
5
6
7
8
9
Fin

In [12]:
i = 1

> 2) while if break

In [13]:
while i < 10:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

## 4. try except
* 파이썬 스크립트 실행 중 오류 발생에 대한 예외처리
> 1) try : ~ except:
* 실행 중 오류 발생 시 except: 부분 실행

In [14]:
try:
  print('파이썬 스크립트 실행 시작')
  print(QQQ)
except:
  print('파이썬 스크립트 실행 중 QQQ객체가 선언되지 않은 오류 발생')

파이썬 스크립트 실행 시작
파이썬 스크립트 실행 중 QQQ객체가 선언되지 않은 오류 발생

> 2) try : ~ except: ~ else:
* 실행 중 오류 발생 시 except: 부분 실행
* 정상 종료시 else: 부분 실행

In [15]:
try:
  print('파이썬 스크립트 실행 시작')
  print('QQQ')
except:
  print('파이썬 스크립트 실행 중 에러 발생')
else:
  print('파이썬 스크립트가 정상 종료')

파이썬 스크립트 실행 시작
QQQ
파이썬 스크립트가 정상 종료

> 3) try: ~ except: ~ finally:
* 스크립트 마지막에 무조건 finally: 부분 실행

In [16]:
try:
  print('파이썬 스크립트 실행 시작')
  print(QQQ)
except:
  print('파이썬 스크립트 실행 중 QQQ 객체가 선언되지 않은 오류 발생')
finally:
  print('파이썬 스크립트 종료 시 무조건 실행')

파이썬 스크립트 실행 시작
파이썬 스크립트 실행 중 QQQ 객체가 선언되지 않은 오류 발생
파이썬 스크립트 종료 시 무조건 실행

본 내용은 2021/02/22(월) 학습한 내용입니다.